.card {
    border-radius: 0;
    cursor: pointer;
}

.card,
.card-footer {
    background-color: #FFFFA5;
    border: none;
}

.card-footer {
    text-align: right;
}

.card.completed,
.card.completed .card-footer {
    background-color: #eee;
    color: #ccc;
}

i {
    padding-left: .5rem;
}

.fa-times {
    color: #cc0000;
}

.fa-check {
    color: #00cc00;
}