<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form 
                class="form-inline" 
                (ngSubmit)="addTask()" 
                #taskForm="ngForm"
                (keydown.enter)="$event.preventDefault()"
            >
                <div class="form-group">
                    <label for="content-field" class="sr-only"></label>
                    <input 
                        type="text" 
                        id="content-field" 
                        class="form-control" 
                        placeholder="Add new task..." 
                        [(ngModel)]="currentTask.content" 
                        name="content"
                        required
                    >
                </div>
                <button 
                    type="submit" 
                    class="btn btn-primary"
                    [disabled]="taskForm.form.invalid"
                ><i class="fa fa-plus" aria-hidden="true"></i> Add Task</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <app-weather></app-weather>
        </div>
        <div class="col-md-9">
            <app-card *ngFor="let t of tasks" [task]="t"></app-card>
            <h5 *ngIf="tasks.length == 0" class="centered">
                <p>You currently have no tasks</p>
            </h5>
        </div>
    </div>
</div>